#!/usr/bin/env bash

set -e
set -o xtrace -o pipefail -o errexit

system_type=$(uname -s)

{{ if eq .chezmoi.os "linux" -}}
    if [ ! -f $HOME/.local/bin/micromamba ]; then
        PATH=$HOME/.local/bin:$PATH
        mkdir -p $HOME/.local/bin
        "${SHELL}" <(curl -L micro.mamba.pm/install.sh)
    fi
    micromamba shell init --shell=bash $HOME/micromamba
    export MAMBA_EXE="$HOME/.local/bin/micromamba"
    export MAMBA_ROOT_PREFIX="$HOME/micromamba"
    . $HOME/micromamba/etc/profile.d/micromamba.sh
    micromamba activate
    micromamba config prepend channels nodefaults
    micromamba config prepend channels bioconda
    micromamba config prepend channels conda-forge
    micromamba config prepend channels dnachun
    micromamba config set auto_activate_base true
    micromamba install --yes \
        ack \
        ammonite-repl \
        angle-grinder \
        aria2 \
        as-tree \
        atool \
        atuin \
        autoconf \
        autogen \
        automake \
        awk-language-server \
        azure-pipelines-language-server \
        bartib \
        bash \
        bash-language-server \
        bat \
        bc \
        bibclean \
        bingrep \
        binutils \
        bison \
        bit-git \
        bottom \
        breezy \
        broot \
        btop \
        bzip2 \
        cbfmt \
        ccat \
        chars \
        checkmake \
        checkstyle \
        chezmoi \
        choose-rust \
        clang \
        clangxx \
        clang-tools \
        clojure \
        clojure-lsp \
        cmake \
        cmake-language-server \
        code-minimap \
        colortail \
        commitlint \
        compose-language-service \
        conda-tree \
        coreutils \
        cpio \
        croc \
        csharpier \
        cspell \
        csview \
        csvprintf \
        csvq \
        curl \
        curlie \
        cvs \
        dasel \
        datamash \
        ddh \
        delve \
        dfmt \
        diff-so-fancy \
        diffr \
        difftastic \
        diffutils \
        diskonaut \
        diskus \
        dmd \
        diagnostic-languageserver \
        dockerfile-language-server-nodejs \
        dot-language-server \
        dotnet-diagnostics \
        dotnet-format \
        dotnet-repl \
        dotnet-script \
        dprint \
        dsq \
        dtools \
        dtrx \
        dua-cli \
        dub \
        duckdb \
        duf \
        dura \
        dust \
        efm-langserver \
        elvish \
        entr \
        exa \
        eva \
        f2 \
        fantomas \
        fastmod \
        fblog \
        fclones \
        fcp \
        fd-find \
        felix \
        fetch \
        file \
        fixjson \
        flex \
        flint \
        fork-cleaner \
        fortls \
        fq \
        fsautocomplete \
        fselect \
        fx \
        fzf \
        fzy \
        gawk \
        gaze \
        gcc \
        gccdiag \
        gcsfuse \
        gdb \
        gdu \
        gersemi \
        gfortran \
        gh \
        ghorg \
        git \
        git-absorb \
        git-cliff \
        git-delta \
        git-imerge \
        gitql \
        gitui \
        global \
        glow-md \
        gnupg \
        go-archiver \
        goawk \
        godu \
        gofumpt \
        goimports-reviser \
        go-ghq \
        go-jsonnet \
        gojq \
        golangci-lint \
        golines \
        google-java-format \
        gopls \
        go-shfmt \
        gotop \
        grep \
        grex \
        groff \
        gron \
        groovy \
        groovy-language-server \
        gxx \
        gum \
        heatseeker \
        helix \
        hstr \
        htmlq \
        htop \
        hwatch \
        hyperfine \
        ijq \
        ilspy \
        inetutils \
        jaq \
        jd \
        jdtls \
        jid \
        jj \
        jless \
        joshuto \
        jq-lsp \
        jql \
        jsonlint \
        jsonpp \
        kalker \
        kickstart \
        kondo \
        lazygit \
        ldc \
        lefthook \
        lemminx \
        less \
        lf \
        lftp \
        licensor \
        llama \
        lld \
        lldb \
        llvm-tools \
        lsof \
        lua \
        lua-language-server \
        luaformatter \
        luau-lsp \
        lychee \
        lzip \
        lzop \
        m4 \
        macchina \
        make \
        mamba \
        man-db \
        markdownlint-cli2 \
        markdown-toc \
        marksman \
        massren \
        mcfly \
        mdcat \
        melody \
        members \
        mercurial \
        meson \
        micro \
        miller \
        moar \
        moreutils \
        mprocs \
        murex \
        navi \
        ncdu \
        ncftp \
        neocmakelsp \
        neofetch \
        neovim-remote \
        nodejs \
        nomino \
        npm-groovy-lint \
        nsh \
        nushell \
        nvim \
        ocdc \
        octosql \
        oh-my-posh \
        oil \
        omnisharp-roslyn \
        orgalorg \
        ouch \
        openssh \
        p7zip \
        page \
        patch \
        patchelf \
        pax \
        pbzip2 \
        pdfcpu \
        peco \
        percol \
        periscope \
        perl \
        perl-app-cope \
        perl-app-perlimports \
        perl-perl-languageserver \
        perl-pls \
        pget \
        pipe-rename \
        pixz \
        plzip \
        pmd \
        pomsky \
        powershell \
        prettierd \
        prql-compiler \
        procs \
        procps-ng \
        prosemd-lsp \
        prr \
        pueue \
        pup \
        pycp \
        py-spy \
        python=3.11 \
        qsv \
        ranger-fm \
        rargs \
        rbspy \
        rclone \
        remark-cli \
        remark-language-server \
        reposurgeon \
        restic \
        revive \
        ripgrep \
        ripgrep-all \
        rm-improved \
        rnr \
        rospo \
        rsc-2fa \
        rsync \
        ruby \
        rubocop \
        rufo \
        ruff \
        rush \
        rust-analyzer \
        rusync \
        sad \
        safe-rm \
        scala \
        scala-cli \
        scalafmt \
        scalariform \
        sd \
        sed \
        selene \
        serve-d \
        sheldon \
        shellcheck \
        shellharden \
        skim \
        smem \
        solargraph \
        spectral-cli \
        spr \
        sql-language-server \
        ssed \
        standardrb \
        starship \
        staticcheck \
        steep \
        stgit \
        sttr \
        stylua \
        subversion \
        syntax_tree \
        sysstat \
        sysroot_linux-64=2.17 \
        tagref \
        taplo \
        tar \
        tealdeer \
        tectonic \
        teip \
        tere \
        terraform-ls \
        texinfo \
        texlab \
        textlint \
        the-way \
        tig \
        time \
        tmux \
        topgrade \
        trash-cli \
        tre-command \
        tree \
        tuc \
        tv \
        up \
        unar \
        uncrustify \
        unzip \
        util-linux \
        vale \
        valgrind \
        vim-language-server \
        viu \
        vscode-json-languageserver \
        watchexec \
        wget \
        which \
        write-good \
        xauth \
        xclip \
        xh \
        xmlformatter \
        xonsh \
        xplr \
        xq \
        xz \
        yadm \
        yamlfmt \
        yaml-language-server \
        yj \
        go-yq \
        zellij \
        zenith \
        zet \
        zip \
        zoxide \
        zsh

    #To add
    # citation-langserver \
    # duc \
    # felix \
    # languagetool-code-comments \
    # ltrs \
    # uutils-coreutils \
    # uutils-findutils \
    # skywalking-eyes \
    # metals \
    # perlnavigator-server \
    # gitlint \
    # pick \
    
    # Do these after so they override conflicting files
    micromamba install --yes parallel rename
    micromamba shell init --shell zsh
    conda init bash
    conda init zsh
    . $HOME/micromamba/etc/profile.d/conda.sh
    conda config --set auto_stack 1
{{ end }}


{{ if eq .chezmoi.os "darwin" -}}
    if [ ! command -v brew &> /dev/null ]; then
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi

    #source $HOME/.bashrc
    brew bundle install --file=$HOME/.local/share/chezmoi/Brewfile
    #micromamba shell init --shell zsh
    #mamba init zsh
    #conda config --set auto_stack 1
    #conda config --set auto_activate_base false
{{ end }}

# Install 
if [ ! -d $HOME/.local/share/zinit ]; then
    export NO_INPUT=1
    export NO_ANNEXES=1
    bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"
    {{ if eq .chezmoi.os "linux" -}}
        chmod -R 755 $HOME/micromamba/share/zsh
        chmod -R 755 $HOME/.local/share/zinit
    {{ end }}
    zsh -c "source $HOME/.zshrc"
fi

if [ ! -d $HOME/.config/base16-shell ]; then
    git clone https://github.com/chriskempson/base16-shell.git $HOME/.config/base16-shell
fi

if [ ! -d $HOME/.tmux/plugins/tpm ]; then
    git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm
    $HOME/.tmux/plugins/tpm/bin/install_plugins
fi

if [ ! -d $HOME/.config/ranger/plugins/ranger_devicons ]; then
    git clone https://github.com/alexanderjeurissen/ranger_devicons $HOME/.config/ranger/plugins/ranger_devicons
fi
