#!/usr/bin/env bash

set -o xtrace -o errexit

#if [ ! -f $HOME/.pixi/bin/pixi ]; then
    #curl -fsSL https://pixi.sh/install.sh | bash
    if [ ! -f $HOME/.bashrc ]; then
        echo 'PATH="${HOME}/.pixi/bin:${PATH}"' >> .bashrc
    fi
#fi
export PATH="$HOME/.pixi/bin:${PATH}"
pixi global install -c dnachun -c conda-forge $(tr '\n' ' ' < $HOME/.local/share/chezmoi/package_list)
pixi global install -c dnachun -c conda-forge $(tr '\n' ' ' < $HOME/.local/share/chezmoi/pixi_packages)
{{ if eq .chezmoi.os "linux" -}}
pixi global install -c dnachun -c conda-forge $(tr '\n' ' ' < $HOME/.local/share/chezmoi/linux_packages)
{{ end }}
{{ if eq .chezmoi.os "darwin" -}}
pixi global install -c dnachun -c conda-forge $(tr '\n' ' ' < $HOME/.local/share/chezmoi/macos_packages)
brew bundle install --file=$HOME/.local/share/chezmoi/Brewfile_casks
{{ end }}
{{ if eq .chezmoi.arch "amd64" -}}
pixi global install -c dnachun -c conda-forge $(tr '\n' ' ' < $HOME/.local/share/chezmoi/intel_packages)
{{ end }}

micromamba shell init --shell=bash $HOME/micromamba
micromamba shell init --shell zsh
micromamba config prepend channels nodefaults
micromamba config prepend channels bioconda
micromamba config prepend channels conda-forge
micromamba config prepend channels dnachun

# To add
# citation-langserver 
# languagetool-code-comments 
# ltrs 
# perlnavigator-server
# pick
# uutils-coreutils 
# uutils-findutils 
# skywalking-eyes 

# Install 
if [ ! -d $HOME/.local/share/zinit ]; then
    export NO_INPUT=1
    export NO_ANNEXES=1
    bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"
    zsh -c "source $HOME/.zshrc"
fi

if [ ! -d $HOME/.config/base16-shell ]; then
    git clone https://github.com/chriskempson/base16-shell.git $HOME/.config/base16-shell
fi

if [ ! -d $HOME/.tmux/plugins/tpm ]; then
    git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm
    $HOME/.tmux/plugins/tpm/bin/install_plugins
fi

if [ ! -d $HOME/.config/ranger/plugins/ranger_devicons ]; then
    git clone https://github.com/alexanderjeurissen/ranger_devicons $HOME/.config/ranger/plugins/ranger_devicons
fi
