#!/bin/bash

system_type=$(uname -s)

{{ if eq .chezmoi.os "linux" -}}
    if [ ! -f $HOME/.local/bin/micromamba ]; then
        PATH=$HOME/.local/bin:$PATH
        curl micro.mamba.pm/install.sh | bash
    fi
    source $HOME/.bashrc
    micromamba activate
    micromamba config prepend channels defaults
    micromamba config prepend channels bioconda
    micromamba config prepend channels conda-forge
    micromamba config prepend channels dnachun
    micromamba config set auto_activate_base true

    micromamba install --yes \
        angle-grinder \
        archiver \
        aria2 \
        as-tree \
        atool \
        atuin \
        autoconf \
        autogen \
        automake \
        bartib \
        bash \
        bash-language-server \
        bat \
        bc \
        bibclean \
        bingrep \
        binutils \
        bison \
        bit \
        bottom \
        btop \
        breezy \
        broot \
        bzip2 \
        cbfmt \
        ccat \
        chars \
        checkmake \
        chezmoi \
        clangdev \
        cmake \
        code-minimap \
        commitlint \
        conda-tree \
        coreutils \
        cpio \
        cspell \
        csview \
        curl \
        cvs \
        dasel \
        datamash \
        ddh \
        diffr \
        difftastic \
        diffutils \
        diff-so-fancy \
        diskonaut \
        diskus \
        dockerfile-language-server-nodejs \
        dprint \
        dsq \
        dtrx \
        dua-cli \
        duckdb \
        duf \
        dura \
        dust \
        elvish \
        entr \
        exa \
        eva \
        f2 \
        fastmod \
        fblog \
        fclones \
        fcp \
        fd-find \
        felix \
        file \
        fixjson \
        flex \
        flint \
        fork-cleaner \
        fq \
        fselect \
        fx \
        fzf \
        fzy \
        gawk \
        gaze \
        gcc \
        gccdiag \
        gdb \
        gfortran \
        gh \
        ghorg \
        git \
        git-absorb \
        git-cliff \
        git-delta \
        git-extras \
        gitql \
        gitui \
        global \
        gnupg \
        go \
        goawk \
        godu \
        gofumpt \
        go-ghq \
        gojq \
        golangci-lint \
        golines \
        gopls \
        go-shfmt \
        gotop \
        gpg-tui \
        grep \
        grex \
        groff \
        gron \
        gxx \
        gum \
        helix \
        hstr \
        htmlq \
        htop \
        hwatch \
        hyperfine \
        inetutils \
        jaq \
        jd \
        jid \
        jj \
        jless \
        joshuto \
        jql \
        jsonlint \
        jsonpp \
        kalker \
        kickstart \
        kondo \
        lazygit \
        less \
        lf \
        lftp \
        licensor \
        llama \
        lld \
        llvmdev \
        lsof \
        luaformatter \
        lua-language-server \
        lychee \
        lzip \
        lzo \
        lzop \
        m4 \
        macchina \
        make \
        mamba \
        man-db \
        markdownlint-cli2 \
        markdown-toc \
        massren \
        mcfly \
        mdcat \
        melody \
        members \
        mercurial \
        meson \
        micro \
        miller \
        moar \
        moreutils \
        mprocs \
        murex \
        navi \
        ncdu \
        ncftp \
        neofetch \
        neovim \
        nomino \
        npm-groovy-lint \
        nsh \
        nushell \
        nvim \
        octosql \
        oh-my-posh \
        oil \
        orgalorg \
        ouch \
        openssh \
        p7zip \
        page \
        patch \
        patchelf \
        pax \
        pbzip2 \
        pdfcpu \
        peco \
        percol \
        periscope \
        perl-ack \
        perl-app-cope \
        pget \
        pick \
        pipe-rename \
        pixz \
        plzip \
        pomsky \
        prettierd \
        prql-compiler \
        procs \
        procps-ng \
        prr \
        pueue \
        py-spy \
        qsv \
        ranger-fm \
        rargs \
        rclone \
        remark-cli \
        reposurgeon \
        restic \
        revive \
        ripgrep \
        ripgrep-all \
        rm-improved \
        rnr \
        rospo \
        rsc-2fa \
        rsync \
        ruff \
        rush \
        rust \
        rust-analyzer \
        rusync \
        sad \
        safe-rm \
        sd \
        sed \
        selene \
        sheldon \
        shellcheck \
        shellharden \
        skim \
        skywalking-eyes \
        smem \
        solargraph \
        spectral-cli \
        ssed \
        starship \
        staticcheck \
        stgit \
        stylua \
        subversion \
        sysstat \
        sysroot_linux-64=2.17 \
        tagref \
        taplo \
        tar \
        tealdeer \
        tectonic \
        tere \
        texinfo \
        texlab \
        textlint \
        time \
        tmux \
        topgrade \
        trash-cli \
        tre-command \
        tree \
        tuc \
        tv \
        unar \
        up \
        uncrustify \
        unzip \
        util-linux \
        vale \
        valgrind \
        vim-language-server \
        viu \
        vscode-json-languageserver \
        watchexec \
        wget \
        which \
        write-good \
        xauth \
        xclip \
        xh \
        xonsh \
        xplr \
        xq \
        xz \
        yadm \
        yamlfmt \
        yaml-language-server \
        yj \
        yq \
        zellij \
        zenith \
        zet \
        zip \
        zoxide \
        zsh

    #To add
    # bibparse \
    # citation-langserver \
    # duc \
    # gersemi \
    # git-imerge \
    # gitlint \
    # glow \
    # languagetool-code-comments \
    # ltrs \
    # ocdc \
    # pycp \
    # uutils-coreutils \
    # uutils-findutils \
    
    # Do these after so they override conflicting files
    micromamba install --yes parallel rename
    micromamba shell init --shell zsh
    mamba init bash
    mamba init zsh
    conda config --set auto_stack 1
{{ end }}


{{ if eq .chezmoi.os "darwin" -}}
    if [ ! command -v brew &> /dev/null ]; then
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi

    #brew bundle install --file=$HOME/.local/share/chezmoi/Brewfile
    #micromamba shell init --shell zsh
    #mamba init zsh
    #conda config --set auto_stack 1
    #conda config --set auto_activate_base false
    # TODO iterm stuff
{{ end }}

# Install 
if [ ! -d $HOME/.local/share/zinit ]; then
    export NO_INPUT=1
    export NO_ANNEXES=1
    bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"
    zsh -c "source $HOME/.zshrc; zinit update"
fi

if [ ! -d $HOME/.config/base16-shell ]; then
    git clone https://github.com/chriskempson/base16-shell.git $HOME/.config/base16-shell
fi

if [ ! -f $HOME/.local/share/nvim/site/autoload/plug.vim ]; then
    sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
    nvim '+PlugUpdate' '+PlugClean!' '+PlugUpdate' '+qall'
fi

if [ ! -d $HOME/.tmux/plugins/tpm ]; then
    git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm
fi

if [ ! -d $HOME/.config/ranger/plugins/ranger_devicons ]; then
    git clone https://github.com/alexanderjeurissen/ranger_devicons $HOME/.config/ranger/plugins/ranger_devicons
fi
